<!-- Modal -->
<div class="modal fade mineExlusive" id="exclusivModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 9999999">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content exclusiveModalContent">
      <div class="modal-header exclusiveModalHeader">
        <h5 class="modal-title" id="exampleModalLabel">
          <img style="height: 35px; width: 35px;" src="/images/star.png" alt="">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body exclusiveModalBody">
        <!-- Pixel Buyer Form -->
        <h1 class="exclusiveHeading">Exclusive Perks</h1>
        <p class="exclusiveLine marginCustom">Pixel buyers will get access to these exclusive perks</p>
        <div class="descriptionTab form-control mb-2 d-flex flex-row align-items-start" style="height: auto; ">
          <div class="divTick">
            <svg style="width: 16px; height: 16px; flex-shrink: 0;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M12 6L8.40204 10.3175C7.74647 11.1042 7.41869 11.4976 6.97812 11.5176C6.53755 11.5375 6.17549 11.1755 5.45139 10.4514L4 9" stroke="#27945F" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
          <div class="d-flex flex-column">
            <p class="miniheadingExclusive">Guest lectures and One-on-one sessions</p>
            <p class="exclusiveLine">First 1,000 pixels bought will get access to a lottery where we will give away additional perks</p>
          </div>
        </div>

        <div class="descriptionTab form-control mb-2 d-flex flex-row align-items-start" style="height: auto; ">
          <div class="divTick">
            <svg style="width: 16px; height: 16px; flex-shrink: 0;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M12 6L8.40204 10.3175C7.74647 11.1042 7.41869 11.4976 6.97812 11.5176C6.53755 11.5375 6.17549 11.1755 5.45139 10.4514L4 9" stroke="#27945F" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
          <div class="d-flex flex-column">
            <p class="miniheadingExclusive">Weekly updates from my MBA journey</p>
            <p class="exclusiveLine">Classes, friends, personal experiences and others</p>
          </div>
        </div>
        <div class="descriptionTab form-control mb-2 d-flex flex-row align-items-start" style="height: auto; ">
          <div class="divTick">
            <svg style="width: 16px; height: 16px; flex-shrink: 0;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M12 6L8.40204 10.3175C7.74647 11.1042 7.41869 11.4976 6.97812 11.5176C6.53755 11.5375 6.17549 11.1755 5.45139 10.4514L4 9" stroke="#27945F" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
          <div class="d-flex flex-column">
            <p class="miniheadingExclusive">Insights and learnings from MBA</p>
            <p class="exclusiveLine">Receive feedback after MBA completion</p>
          </div>
        </div>
        <div class="descriptionTab form-control mb-2 d-flex flex-row align-items-start" style="height: auto; ">
          <div class="divTick">
            <svg style="width: 16px; height: 16px; flex-shrink: 0;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M12 6L8.40204 10.3175C7.74647 11.1042 7.41869 11.4976 6.97812 11.5176C6.53755 11.5375 6.17549 11.1755 5.45139 10.4514L4 9" stroke="#27945F" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
          <div class="d-flex flex-column">
            <p class="miniheadingExclusive">Access to community Slack</p>
            <p class="exclusiveLine">Access to PixelMBA Slack channel</p>
          </div>
        </div>
        <form action="/create-checkout-session" method="post"><button class="exclusiveModalBuyButton btn-no-outline" type="submit">
            Buy pixel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
