<!-- Modal -->
<div class="modal fade minesponsorships" id="sponsorshipsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 9999999">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content sponsorshipModalContent">
      <div class="modal-header sponsorshipModalHeader">
        <h5 class="modal-title" id="exampleModalLabel">
          <img style="height: 55px; width: 55px;" src="/images/greenDiv.png" alt="">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body sponsorshipModalBody">
        <!-- Pixel Buyer Form -->
        <h1 class="exclusiveHeading">Sponsorships</h1>
        <p class="exclusiveLine customMargin">Please reach out if you are interested in discussing sponsorship opportunities.</p>
        <form enctype="multipart/form-data">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" unchecked id="websiteSponsorship">
            <p class="form-check-description">
              Website Sponsorship (PixelMBA)
            </p>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" unchecked id="mbaSponsorship">
            <p class="form-check-description">
              MBA Sponsorship
            </p>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" unchecked id="mbaFinancing">
            <p class="form-check-description">
              MBA Financing & Other Sponsorships
            </p>
          </div>
          <a id="emailLink" href="" class="">
            <button class="reachoutButton">Reach out</button>
          </a>
        </form>

      </div>
    </div>
  </div>
</div>
