
<style>
    .login-main-wrapper{
        height: 100vh;
        display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .thankyou-wrapper{
      width:100%;
      height:auto;
      margin:auto;
      padding:50px 0px 50px;
     
    }
    .main-container{
        height: 65vh;
    }
    .thankyou-wrapper h1{
      font:100px Arial, Helvetica, sans-serif;
      text-align:center;
      color:#333333;
      padding:0px 10px 10px;
    }
    .thankyou-wrapper p{
      font:26px Arial, Helvetica, sans-serif;
      text-align:center;
      color:#333333;
      padding:5px 10px 10px;
    }
    .thankyou-wrapper a{
      font:26px Arial, Helvetica, sans-serif;
      text-align:center;
      color:white;
      display:block;
      text-decoration:none;
      width:250px;
      background:#027eb2;
      margin:10px auto 0px;
      padding:15px 20px 15px;
    }
    .thankyou-wrapper a:hover{
      font:26px Arial, Helvetica, sans-serif;
      text-align:center;
      color:#ffffff;
      display:block;
      text-decoration:none;
      width:250px;
      background:#00638d;
      margin:10px auto 0px;
      padding:15px 20px 15px;
    }
    @media(max-width: 820px ) {
        
    
    .img-size{
        width: 100%;
        height: auto;
    }
    .thankyou-wrapper p{
      font:18px Arial, Helvetica, sans-serif;
      text-align:center;
      color:#333333;
      padding:5px 10px 10px;
    }
    .thankyou-wrapper a{
      font:18px Arial, Helvetica, sans-serif;
      text-align:center;
      color:white;
      display:block;
      text-decoration:none;
      width:200px;
      background:#027eb2;
      margin:10px auto 0px;
      padding:15px 15px 10px;
    }
    .thankyou-wrapper a:hover{
      font:18px Arial, Helvetica, sans-serif;
      text-align:center;
      color:#ffffff;
      display:block;
      text-decoration:none;
      width:200px;
      background:#00638d;
      margin:10px auto 0px;
      padding:15px 15px 10px;
    }
}   
    </style>
<section class="login-main-wrapper">
    <div class="main-container">
        <div class="login-process">
            <div class="login-main-container">
                <div class="thankyou-wrapper">
                    <h1><img class="img-size" src="http://montco.happeningmag.com/wp-content/uploads/2014/11/thankyou.png" alt="thanks" /></h1>
                      <p class="text_p">for buying </p>
                      <a href="/grid">To use your pixels click here</a>
                  
                  </div>
                
              </div>
          </div>
        
      </div>
  </section>



    